.containerHoras{
    max-width: 410px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    justify-content: center;
}

.horas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 20px;
    padding: 20px;
    border: 2px solid black;
    background-color: #f8f5f5;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.horas:hover{
    background-color: #1d616171;
}


@media(max-width:450px){
    .containerHoras{
        max-width: 250px;
    }

    .horas{
        width: 70px;
        font-size: 12px;
    }
}