.container{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-color: var(--dl-bgcolor-nav-footer);
    padding: 10px;
    border-radius: 20px;
    max-height: 100px;
    width: 200px;
}

.texto{
    font-size: 13px;
    color: rgba(248, 247, 247, 0.959);
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.buttonCerrar{
    background-color: transparent;
    border: 2px solid rgba(248, 247, 247, 0.959);
    opacity: 0.8;
    cursor: pointer;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    color: rgba(248, 247, 247, 0.959);
    font-weight: bold;
}