.membresia-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.membresia-links-container {
  gap: 300px;
  width: 50%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.membresia-back-arrow {
  width: 24px;
  height: 24px;
}
.membresia-text {
  color: rgba(255, 255, 255, 1);
  width: 156px;
  height: auto;
  font-size: 32px;
  font-style: Bold;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.membresia-header {
  gap: 59px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding-top: 16px;
  padding-left: 96px;
  padding-right: 40px;
  padding-bottom: 16px;
  justify-content: space-between;
  background-color: rgba(36, 40, 123, 0.8999999761581421);
}