table,
th,
td {
  border: 0.5px solid #000;
  border-collapse: collapse;
}

th,
td {
  padding: 8px 48px;
}

tbody tr:nth-child(even) {
  background-color: #c9c9c9;
}

tbody tr:nth-child(even) {
  background-color: #E6E6E6;
}

thead tr {
  background-color: #9294BD;
}
.lista-heading {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}
.listado-button-close {
  color: red;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.listado-icon-close {
  width: 16px;
  height: 16px;
}

.listado-title {
  color: #000;
  font-size: 20px;
  justify-content: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}