.listaMain-table,
.listaMain-th,
.listaMain-td {
  border: 0.5px solid #000;
  border-collapse: collapse;
}

.listaMain-th,
.listaMain-td {
  padding: 8px 48px;
}

.listaMain-tbody tr:nth-child(even) {
  background-color: #c9c9c9;
}

.listaMain-tbody tr:nth-child(even) {
  background-color: #E6E6E6;
}

thead tr {
  background-color: #9294BD;
}
.listaMain-heading {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}
.listaMain-title {
  color: #000;
  font-size: 20px;
  justify-content: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.listaMain-reportar-button {
  color: red;
  border: none;
  background-color: transparent;
  cursor: pointer;
}