.historial-container {
    width: 100%;
    padding: 20px;
  }
  
  .historial-tabla {
    width: 100%;
    border-collapse: collapse;
  }
  
  .historial-tabla th,
  .historial-tabla td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .historial-tabla th {
    background-color: #f2f2f2;
    color: #333;
  }
  
  .historial-tabla tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .historial-tabla tr:hover {
    background-color: #ddd;
  }
  
  .btn {
    margin-left: 10px;
    font-family: "Inter", sans-serif;
    background-color: #25287B;
    border-radius: 20px;
    width: 94px;
    height: 42px;
    color: white;
    font-size: 13px;
    border: none;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  