/* Estilos para pantallas grandes */
.footerGral {
    background-color: var(--dl-bgcolor-nav-footer);
    padding: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center; /* Alinea los elementos hijos verticalmente en el centro */
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.logo {
    margin-left: 50px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.logosFooter {
    display: flex;
    gap: 15px;
}

.logoFooter {
    width: 20px;
    transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    cursor: pointer;
}

.logoFooter:hover {
    transform: scale(1.4);
}

.textIconos {
    display: flex;
    align-items: center;
    gap: 70px; /*  acá separación entre elementos*/
}

.pFooter {
    color: #2c3e50;
}
<<<<<<< HEAD

@media(max-width:570px){
    .logo{
        display: none;
    }
    .pFooter{
        display: none;
    }
    .footerGral{
        justify-content: center;
    }
}
=======
  
  /* Estilos para pantallas pequeñas */
  .footerGralMobile {
    background-color: var(--dl-bgcolor-nav-footer);
    padding: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  .logoMobile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  
>>>>>>> 888eb18cdd9c7cf5f6924bbfd682a9642ab743ce
