/* Estilos para pantallas grandes */
.footerGral {
    background-color: var(--dl-bgcolor-nav-footer);
    padding: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center; /* Alinea los elementos hijos verticalmente en el centro */
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.logo {
    margin-left: 50px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.logosFooter {
    display: flex;
    gap: 15px;
}

.logoFooter {
    width: 20px;
    transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    cursor: pointer;
}

.logoFooter:hover {
    transform: scale(1.4);
}

.textIconos {
    display: flex;
    align-items: center;
    gap: 70px; /*  acá separación entre elementos*/
}

.pFooter {
    color: #2c3e50;
}
  
  /* Estilos para pantallas pequeñas */
  .footerGralMobile {
    background-color: var(--dl-bgcolor-nav-footer);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  .logoMobile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .textIconosMobile {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .pFooterMobile {
    color: #2c3e50;
  }
  