.header-patient-header-patient {
  gap: 59px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 32px 40px;
  z-index: 100;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: rgba(29, 96, 96, 0.49000000953674316);
}
.header-patient-logo {
  height: 50px;
  width: auto;
  border-radius: 50%;
}
.header-patient-frame2 {
  gap: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-patient-text {
  fill: var(--dl-color-nuestras-color-info);
  color: var(--dl-color-nuestras-color-info);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Krona One;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.header-patient-text2 {
  fill: var(--dl-color-nuestras-color-info);
  color: var(--dl-color-nuestras-color-info);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Krona One";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.header-patient-container {
  display: none;
  padding: 2px;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  justify-content: space-between;
}
.header-patient-container:hover {
  background-color: rgba(29, 96, 96, 0.49000000953674316);
}
.header-patient-icon {
  fill: var(--dl-color-nuestras-color-info);
  width: 32px;
  height: 32px;
}
@media(max-width: 479px) {
  .header-patient-frame2 {
    top: 32px;
    right: 40px;
    display: none;
    padding: 16px;
    z-index: 100;
    position: absolute;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.29);
    border-radius: 8px;
    flex-direction: column;
    background-color: rgba(29, 96, 96, 0.5);
  }
  .header-patient-container {
    display: flex;
  }
}
