.containerCartilla {
    position: relative;
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0px auto;
    padding: 0px auto;
}

.cartillasInt{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.imgCartilla{
    width: 100%;
    height: auto;
    display: block;
}

.tituloCartilla{
    position: absolute;
    top: 30%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0,0,0.5);
    font-family: "Krona One", sans-serif;
}

.desplegables{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.divSwitch{
    margin: 30px;
}

/* animacion entrada */

@-webkit-keyframes fadeInDown {
    from {
            opacity: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    }

    to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDown {
    from {
            opacity: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    }

    to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.containerDesplegables{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    gap: 50px;
}

.opcionesElegidas{
    display: flex;
    gap: 40px;
}