.containerCartilla {
    position: relative;
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0px auto;
    padding: 0px auto;
}

.cartillasInt{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.imgCartilla{
    width: 100%;
    height: auto;
    display: block;
}

.divButtonBuscar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.pdf-btn{
    margin-left: 20px;
    margin-bottom: 50px;
    font-family: "Inter", sans-serif;
    background-color: #25287B;
    border-radius: 20px;
    width: 94px;
    height: 42px;
    color: white;
    font-size: 13px;
    border: none;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.hidden {
    display: none;
}

.tituloCartilla{
    position: absolute;
    top: 30%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0,0,0.5);
    font-family: "Krona One", sans-serif;
}

.desplegables{
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

.containerFechaHora{
    display: flex;
    justify-content: center;
    width: 100%;
}


.containerDesplegables{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    gap: 50px;
    width: 100%;
}

.title{
    font-size: 15px;
    font-family: "Inter", sans-serif;
    color: rgb(61, 60, 60);
}


/* mediasquery */

@media (max-width: 1100px){
    .containerDesplegables {
        flex-direction: column; 
        align-items: center;
        gap: 20px;
    }
    .tituloCartilla{
        display: none;
    }
}

@media (max-width: 768px) {
    .tituloCartilla {
        font-size: 30px; 
        top: 20%; 
        left: 50%;
        transform: translateX(-50%);
    }

    .containerDesplegables {
        flex-direction: column; 
        align-items: center;
        gap: 20px; 
    }

    .divButtonBuscar {
        margin-top: 20px; 
    }
}