@import url('https://fonts.googleapis.com/css2?family=Mako&display=swap');

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.login {
  display: grid;
  grid-template-columns: 1fr 65%;
  height: 100vh;
  font-family: Mako;
}

.login-hero {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/login-hero.png');
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  font-size: 20px;
  padding: 20px 20px;
}

.form-header {
  text-align: justify;
  color: #25287B;
  font-size: 50px;
  width: 100%;
  text-shadow: 0px 5px rgba(212, 202, 202, 0.348);
}

.login-wrapper {
  display: inline-block;
  border: 3px solid black;
  border-radius: 25px;
  width: 100%;
  font-size: 18px;
  padding: 10px 15px;
  margin-top: 15px;
}

.login-input {
  outline: none;
  border: none;
  display: block;
  width: 100%;
}

.login-label {
  display: block;
  font-weight: lighter;
  cursor: text;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #25287B;
  color: white;
  font-family: Mako;
  font-size: 18px;
  border: 3px solid #25287B;
  border-radius: 25px;
  margin-top: 40px;
  padding: 20px 20px;
}

.login-loading {
  background-color: #25287b7f;
}

.error-container {
  display: block;
  font-weight: lighter;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #F5C2C7;
  border-radius: 25px;
  background-color: #F8D7DA;
  color: #842029;
}

.spinner {
  margin-left: 5px;
  border: 2px solid #f3f3f3;
  border-top: 2px solid #25287B;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 0.6s linear infinite;
}

.utilities-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.utilities {
  font-size: 16px;
  text-decoration: underline;
  text-underline-offset: 3px;
  color: #606060;
}

.utilities-account {
  font-size: 16px;
  color: #606060;
}
