@import url('https://fonts.googleapis.com/css2?family=Mako&display=swap');

.register-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

p {
  text-align: center;
  width: 100%;
  font-family: Mako;
  font-size: 18px;
}

.return-link {
  color: black;
  text-decoration: none;
}

.return-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Mako;
  font-size: 14px;
  border: 3px solid #25287B;
  border-radius: 10px;
  background-color: #25287B;
  color: white;
  margin-top: 20px
}
